body {
    background-color: #FFF4E0;
}

h1, nav {
    background-color: #B46060;
}

.tn {
    background-color: #FFBF9B;
}

.nashville {
    background-color: #FFBF9B;
}

.state {
    width: 40%;
}

.flag {
    width: 30%;
}

.bird {
    width: 40%;
}

.flower {
    width: 40%;
}